1. Sell everything at the end of the day (Closing: 3:30 PM)
2. Overspending restriction
3. Software will keep track of inventory (including buy/sell)
	Log book (in case API crashes)
	Current stocks
	Keep track of every transaction
	Write to a textfile or use SQL
4. ARIMA method for now
5. Buy how much, sell all
	Connected to Req 2: Throw error if not enough
6. Will implement a stop loss function

Tech
----
pandas
tensorflow, keras - python 3.6*
sqlite

